.pixi/
__pycache__/
*/__pycache__/
*.pyc
.DS_Store

models/
SenseVoice.cpp/
reference/
fbank_lfr_cmvn_feature.json

data/.subtitle_gpu.lock
data/recording/*
!data/recording/
!data/recording/sunflower.mp3
data/vr/*
!data/vr/
!data/vr/.gitkeep
data/tasks/*
!data/tasks/
!data/tasks/.gitkeep

results/*
!results/
!results/.gitkeep
!results/srt/
results/srt/*
!results/srt/.gitkeep
